.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: transparent;
    margin-bottom: 8rem;
}
.auth form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 400px;
    gap: 20px;
  }

    .auth input {
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
    }

    .auth button {
      padding: 10px;
      border: none;
      background-color: #FF8749;
      cursor: pointer;
      color: white;
    }
    h3{
      text-align: center;
      color: #FF8749;

    }